<p>carousel-pause works!</p>
{{messageReceived}}
<!-- {{currentPlayings}} -->

<!-- <div *ngFor="let currentPlaying of currentPlayings">
  <a [routerLink]="['watch/movie/', currentPlaying.id]">{{currentPlaying.id}}</a>
</div> -->
<!-- TODO: mx-sm-5 -->
<div class="my-container">
  <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let currentPlaying of currentPlayings; index as i">
      <a [routerLink]="['watch/movie/', currentPlaying.id]">
        <div class="my-div">
          <div class="carousel-caption">
            <p>{{currentPlaying.name}}
            <p>
          </div>
          <img [src]="currentPlaying.backdrop_path" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>