<p>carousel-pause works!</p>
{{messageReceived}}
<!-- {{currentPlayings}} -->

<!-- <div *ngFor="let currentPlaying of currentPlayings">
  <a [routerLink]="['watch/movie/', currentPlaying.id]">{{currentPlaying.id}}</a>
</div> -->
<!-- TODO: mx-sm-5 -->
<!-- TOOD: 设置small device自动显示标题和隐藏indicates-->
<div class="my-container">
  <ngb-carousel #carousel [interval]="5000" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let currentPlaying of currentPlayings; index as i">
      <a [routerLink]="['watch/movie/', currentPlaying.id]">
        <div *ngIf="showNavigationIndicators" class="my-div">
          <div class="carousel-caption">
            <p>{{currentPlaying.name}}
            <p>
          </div>
          <img [src]="currentPlaying.backdrop_path" alt="My image {{i + 1}} description">
        </div>
        <div *ngIf="!showNavigationIndicators" class="hold-div">
          <div class="carousel-caption">
            <p>{{currentPlaying.name}}
            <p>
          </div>
          <img [src]="currentPlaying.backdrop_path" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>
<!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
  <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
  <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
</div> -->