<!-- <a [routerLink]="['/']">
  <h3>USC Films</h3>
</a>
<a [routerLink]="['/']">
  Home
</a>
<a [routerLink]="['/']">
  My List
</a> -->

<!-- <ul ngbNav [(activeId)]="activeId" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>First</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Second</a>
  </li>
</ul> -->

<ul ngbNav class="nav-tabs">
  <li>
    <a [routerLink]="['/']">
      <h3>USC Films</h3>
    </a>
  </li>
  <li [ngbNavItem]="1">
    <a ngbNavLink>First</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Second</a>
  </li>
</ul>
