<p>detailpage works!</p>
{{id}}<br>
{{type}}
{{video.key}}
{{detail.name}}
<!-- {{reviews}} -->

<div class="container">
  <div class="row">
    <!-- TODO: improve text display -->
    <div class="col-lg-8">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-player videoId={{video.key}}> </youtube-player>
      </div>
    </div>
    <div class="col-lg-4">
      <h1>{{detail.name}}</h1>
      <p style="font-style: italic; font-weight:lighter; font-size: 21px; color:rgb(145,151,183)">{{detail.tagline}}</p>
      <p style="font-weight:lighter; color: rgb(145,151,183)">{{detail.release_date}} | &#9733;{{detail.vote_average}} |
        {{detail.runtime}}</p>
      <p>Genres: <span style="font-weight: light; color: rgb(145,151,183)">{{detail.genres}}</span></p>
      <p>Spoken Language: <span style="font-weight: light; color: rgb(145,151,183)">{{detail.spoken_languages}}</span>
      </p>
      <p>
        <button id="watchlist" class="btn btn-primary" (click)="addRemoveMessage()">{{watchButton}}</button>
      </p>
      <ngb-alert #selfClosingAlert *ngIf="addMessage" type="success" (closed)="addMessage = ''">
        {{ addMessage }}
      </ngb-alert>
      <ngb-alert #selfClosingAlert *ngIf="removeMessage" type="danger" (closed)="removeMessage = ''">
        {{ removeMessage }}
      </ngb-alert>
    </div>
  </div>
  <h4 class="mt-4">Description</h4>
  <p style="font-weight: lighter; color: rgb(145,151,183)">{{detail.overview}}</p>
  <h4 class="mt-4">Share</h4>
  <!-- <a [routerLink]="['/watch/', cardInfo.media_type, cardInfo.id]"></a> -->
  <div class="container">
    <div class="row">
      <a class="twitter-share-button pr-2"
        href="https://twitter.com/intent/tweet?text=Watch{{escapeName}}&url={{escapeURL}}&hashtags=USC,CSCI571,FightOn"
        target="_blank">
        <i class="fa fa-twitter fa-3x">
        </i>
      </a>
      <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=g5xr2IjmbLE">
        <a>
          <a target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D{{video.key}}&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 overflow-auto">
    <div class="d-flex flex-row flex-nowrap">
      <div *ngFor="let cast of casts">
        <app-cast [cast]="cast"></app-cast>
      </div>
    </div>
  </div>

  <h4 class="mt-4">Reviews</h4>
  <div *ngFor="let review of reviews">
  <!-- {{review.author}} -->
  <!-- border-radius:1%; -->
  <div class="card m-2" style="width:95%;"> 
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img *ngIf="review.avatar_path" src="{{review.avatar_path}}" alt="" class="center" style="border-radius:50%;max-width: 80px;height:auto;">
        </div>
        <div class="col-10">
          <h5 *ngIf="review.author" class="card-title" style="color:black;">A review created by {{review.author}} &nbsp;<i class="fas fa-star" style="background-color: black; color:white;border-radius:25px;padding:5px;">{{review.rating}}</i></h5>
          <br>
          <h6 *ngIf="review.created_at" class="card-subtitle mb-2 text-muted">Written by {{review.author}} on {{review.created_at}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>