<p>detailpage works!</p>
{{id}}<br>
{{type}}
{{video.key}}
{{detail.name}}

<div class="container">
  <div class="row">
    <!-- TODO: improve text display -->
    <div class="col-sm-8">
      <div class="embed-responsive embed-responsive-16by9">
        <youtube-player videoId={{video.key}}> </youtube-player>
      </div>
    </div>
    <div class="col-sm-4">
      <h1>{{detail.name}}</h1>
      <p style="font-style: italic; font-weight:lighter; font-size: 21px; color:rgb(145,151,183)">{{detail.tagline}}</p>
      <p style="font-weight:lighter; color: rgb(145,151,183)">{{detail.release_date}} | &#9733;{{detail.vote_average}} |
        {{detail.runtime}}</p>
      <p>Genres: <span style="font-weight: light; color: rgb(145,151,183)">{{detail.genres}}</span></p>
      <p>Spoken Language: <span style="font-weight: light; color: rgb(145,151,183)">{{detail.spoken_languages}}</span>
      </p>
      <!-- <button type="button" class="btn btn-primary btn-lg mt-2" data-toggle="popover">Add to Watchlist</button> -->
      <p>
        <button id="watchlist" class="btn btn-primary" (click)="addRemoveMessage()">{{watchButton}}</button>
      </p>
      <ngb-alert #selfClosingAlert *ngIf="addMessage" type="success" (closed)="addMessage = ''">
        {{ addMessage }}
      </ngb-alert>
      <ngb-alert #selfClosingAlert *ngIf="removeMessage" type="danger" (closed)="removeMessage = ''">
        {{ removeMessage }}
      </ngb-alert>
    </div>
  </div>
  <!-- <div class="container"> -->
  <h4 class="mt-4">Description</h4>
  <p style="font-weight: lighter; color: rgb(145,151,183)">{{detail.overview}}</p>
  <h4 class="mt-4">Share</h4>
  <!-- <a [routerLink]="['/watch/', cardInfo.media_type, cardInfo.id]"></a> -->
  <div class="container">
    <div class="row">
      <a class="twitter-share-button pr-2"
        href="https://twitter.com/intent/tweet?text=Watch{{escapeName}}&url={{escapeURL}}&hashtags=USC,CSCI571,FightOn"
        target="_blank">
        <i class="fa fa-twitter fa-3x">
        </i>
      </a>
      <div class="fb-share-button" data-href="https://www.youtube.com/watch?v=g5xr2IjmbLE">
        <a>
          <a target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D{{video.key}}&amp;src=sdkpreparse"
            class="fb-xfbml-parse-ignore">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 overflow-auto">
    <div class="d-flex flex-row flex-nowrap">
      <div *ngFor="let cast of casts">
        <div class="card text-center">
          <img class="card-img-top" src="{{cast.profile_path}}"
            alt="Card image cap">
            <!-- TODO: fix img height issue -->
          <!-- <div class="card-body"> -->
              <p class="card-text" style="font-size:0.9rem; color:black;">
                <span style="font-weight:bold">{{cast.name}}</span>
                <br>
                <span style="font-weight:bolder">AS</span>
                <br>
                {{cast.character}}
              </p>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>