<div (click)="open()" style="cursor:pointer">
  <div class="card text-center">
    <div class="my-img">
      <img class="card-img-top" src="{{cast.profile_path}}" alt="Card image cap">
    </div>
    <!-- TODO: fix img height issue -->
    <!-- <div class="card-body"> -->
    <p class="card-text" style="font-size:0.9rem; color:black;">
      <span style="font-weight:bolder">{{cast.name}}</span>
      <br>
      <span style="font-weight:bolder">AS</span>
      <br>
      {{cast.character}}
    </p>
    <!-- </div> -->
  </div>
</div>



<!-- <p (click)="open()"> click me</p> -->