<ng-template #longContent let-modal>
  <div class="modal-header" style="color:black;">
    <h4 class="modal-title">{{castDetail.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="color:black;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3" style="padding:0;">
          <img id="cast-img" src="{{castDetail.profile_path}}" style="width:100%; height:auto;" class="float-left">
        </div>
        <div class="col-sm">
          <!-- <p class="text-left">hello cool </p> -->
          <p *ngIf="castDetail.birthday" style="margin-bottom:0px;">Birth: {{castDetail.birthday}}</p>
          <p *ngIf="castDetail.place_of_birth" style="margin-bottom:0px;">Birth Place: {{castDetail.place_of_birth}}</p>
          <p style="margin-bottom:0px;">Gender: {{castDetail.gender}}</p>
          <p *ngIf="castDetail.homepage" style="margin-bottom:0px;">Website:  <a  href="{{castDetail.homepage}}" style="margin-bottom:0px;" target="_blank">{{castDetail.homepage}}</a></p>
          <p *ngIf="castDetail.known_for_department" style="margin-bottom:0px;">Known for: {{castDetail.known_for_department}}</p>
          <p *ngIf="castDetail.also_known_as.length > 0" style="margin-bottom:0px;">Also Known for: {{castDetail.also_known_as}}</p>
          <a target="_blank" *ngIf="castExternal.imdb_id" href="{{castExternal.imdb_id}}" class="fa fa-imdb fa-2x" ngbPopover="Visit TMDB" triggers="mouseenter:mouseleave" style="text-decoration: none;margin: 3px 3px 3px 3px;"></a>
          <a target="_blank" *ngIf="castExternal.instagram_id" href="{{castExternal.instagram_id}}" class="fa fa-instagram fa-2x" ngbPopover="Visit Instagram" triggers="mouseenter:mouseleave" style="text-decoration: none;margin: 3px 3px 3px 3px;"></a>
          <a target="_blank" *ngIf="castExternal.facebook_id" href="{{castExternal.facebook_id}}" class="fa fa-facebook fa-2x" ngbPopover="Visit Facebook" triggers="mouseenter:mouseleave" style="text-decoration: none;margin: 3px 3px 3px 3px;"></a>
          <a target="_blank" *ngIf="castExternal.twitter_id" href="{{castExternal.twitter_id}}" class="fa fa-twitter fa-2x" ngbPopover="Visit Twitter" triggers="mouseenter:mouseleave" style="text-decoration: none;margin: 3px 3px 3px 3px;"></a>
        </div>
        <p><span style="font-size:2rem">Birography</span> <br>{{castDetail.biography}}</p>
      </div>
    </div>
  </div>
</ng-template>


<!-- <div (click)="openScrollableContent(longContent)" style="cursor: pointer;">
  
</div> -->

<div (click)="openScrollableContent(longContent)" style="cursor:pointer">
  <div class="card text-center">
    <div class="my-img">
      <img class="card-img-top" src="{{cast.profile_path}}" alt="Card image cap">
    </div>
    <!-- TODO: fix img height issue -->
    <!-- <div class="card-body"> -->
    <p class="card-text" style="font-size:0.9rem; color:black;">
      <span style="font-weight:bolder">{{cast.name}}</span>
      <br>
      <span style="font-weight:bolder">AS</span>
      <br>
      {{cast.character}}
    </p>
    <!-- </div> -->
  </div>
</div>


