<!-- <ng-template #content let-modal> -->
  <div class="modal-header">
    <h4 class="modal-title" style="color:black;">{{name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="color:black;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3" style="padding:0;">
          <img id="cast-img" src="{{profile_path}}" style="width:100%; height:auto;" class="float-left">
        </div>
        <div class="col-sm">
          <!-- <p class="text-left">hello cool </p> -->
          <p style="margin-bottom:0px;">{{birthday}}</p>
          <p style="margin-bottom:0px;">{{place_of_birth}}</p>
          <p style="margin-bottom:0px;">{{gender}}</p>
          <!-- <p style="margin-bottom:0px;">{{homepage}}</p> -->
          <!-- <a href="{{homepage}}" style="margin-bottom:0px;">{{homepage}}</a> -->
          <p style="margin-bottom:0px;">{{known_for_department}}</p>
          <p style="margin-bottom:0px;">{{also_known_as}}</p>
        </div>

        <button type="button" class="btn btn-outline-secondary" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave">
          Hover over me!
        </button>
        <p>{{biography}}</p>
      </div>
    </div>

  </div>
<!-- </ng-template> -->