<!-- <p>carousel-card works!</p> -->
<ngb-carousel *ngIf="small" [interval]="false" [showNavigationArrows]="true" [showNavigationIndicators]="false">
  <ng-template ngbSlide *ngFor="let card of cards">
        <app-card [cardInfo]="card"></app-card>
  </ng-template>
</ngb-carousel>

<ngb-carousel *ngIf="!small" [interval]="false" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let groupCard of groupCards">
    <div class="card-group">
      <div class="col-2" *ngFor="let card of groupCard">
        <app-card [cardInfo]="card"></app-card>
      </div>
    </div>
  </ng-template>
</ngb-carousel>