.carousel-caption {
  position: absolute;
  bottom: 0%;
  left: 10%;
  text-align: left;
  text-align: bottom;
}
::ng-deep #multi {
  padding-top: 10px;
  margin-left: -110px;
  padding-left: 110px;
  margin-right: -110px;
  padding-right: 110px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
::ng-deep #single {
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
.col-2 {
  padding-left: 6px;
  padding-right: 6px;
}