<div *ngIf="device === 'XSmall'" class="card" id="small-card">
  <a [routerLink]="['/watch/', cardInfo.media_type, cardInfo.id]">
    <div class="my-div" id="small" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </a>
</div>

<div *ngIf="device !== 'XSmall'"  class="card" id="large-card">
  <a [routerLink]="['/watch/', cardInfo.media_type, cardInfo.id]">
    <div class="my-div" id="large" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </a>
</div>