<!-- <div class="card-deck"> -->
  <div class="card">
    <a [routerLink]="['watch/', cardInfo.media_type, cardInfo.id]">
      
      <div class="my-div" title={{cardInfo.name}}>
          <!-- <div class="card-body"> -->
            <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
          <!-- </div> -->
        </div>
    </a>
  </div>
<!-- </div> -->

<!-- <div class="card-deck">
  <div class="card text-white">
    <a [routerLink]="['watch/movie/', cardInfo.id]">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </a>
  </div>
  <div class="card text-white">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </div>
  <div class="card text-white">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </div>
  <div class="card text-white">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </div>
  <div class="card text-white">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
  </div>
  <div class="card text-white">
    <div class="my-div" title={{cardInfo.name}}>
      <img class="card-img-top center-block" src="{{cardInfo.poster_path}}" alt="Card image cap">
    </div>
</div>
</div> -->