/* You can add global styles to this file, and also import other style files */
html,body{
  position: relative;
  /* min-height: 100%; */
  min-height: 100vh;
  color: white;
  background-color: rgba(6,12,46);
  /* font-size: 1rem; */
  font-family: 'Raleway', sans-serif;
}

/* body::-webkit-scrollbar {
  height: 1em;
  width: 1em;
} */

ngb-popover-window {
  position: absolute;
  width: auto !important;
  display: block !important;
  background-color: #fafafa !important;
  border: 1px solid #fafafa !important;
  max-width: none !important;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
 
/* body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

::-webkit-scrollbar{
  height: 8px;
  width: 8px;
  /* overflow: visible; */
  background: #000;
}
::-webkit-scrollbar-thumb{
  /* background: #000; */
  background-color: darkgrey;
  border-radius: 10px;
}

/* If more than 600px */
@media(min-width: 600px)
{
  html{
    /* font-size:20px; */
  }
}
/* @media(min-width: 960px)
{
  html{
    font-size:1.4rem;
  }
} */