/* You can add global styles to this file, and also import other style files */
html,body{
  position: relative;
  /* min-height: 100%; */
  min-height: 100vh;
  color: white;
  background-color: rgba(6,12,46);
  /* font-size: 1rem; */
}

/* @include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */

/* @media(min-width: 1920px)
{
  html{
    font-size:1.6rem;
  }
}

@media(min-width: 1280px)
{
  html{
    font-size:1.4rem;
  }
}

@media(min-width: 960px)
{
  html{
    font-size:1.2rem;
  }
} */

/* If more than 600px */
@media(min-width: 600px)
{
  html{
    /* font-size:20px; */
  }
}
/* @media(min-width: 960px)
{
  html{
    font-size:1.4rem;
  }
} */