<nav class="navbar navbar-expand-sm navbar-dark bg-black mb-3">
  <a class="navbar-brand" [routerLink]="'.'">USC Films</a>

  <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-lg-0">
      <li id='home' class="nav-item active">
        <!-- Step 4: Close the menu when a link is clicked. -->
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
        <!-- <a class="nav-link" [routerLink]="'.'" (click)="onClickHome()">Home</a> -->
      </li>
      <li id='list' class="nav-item">
        <a class="nav-link" [routerLink]="'/mylist'" (click)="isMenuCollapsed = true">My List</a>
        <!-- <a class="nav-link" [routerLink]="'/mylist'" (click)="onClickList()">My List</a> -->
      </li>
    </ul>
    <!-- <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search">
    </form> -->
    <app-typeahead></app-typeahead>
  </div>
</nav>