.form-control {
  color: white;
  width: 300px;
  background-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: white solid 1px;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
/* .dropdown-menu {
  background-color: rgba(6,12,46);
} */

/* .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
} */

::ng-deep .dropdown-menu.show { background-color: rgba(6,12,46);}