<ng-template #rt let-r="result" let-t="term">
  <img [src]="r['backdrop_path']" class="mr-1" style="width: 120px; height:auto;">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<input id="typeahead" type="text" class="form-control mx-sm-3" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" placeholder="Search" [resultFormatter]="resultFormatBandListValue" [resultFormatter]="resultFormatBandListValue"/>
<!-- <input id="typeahead" type="text" class="form-control mx-sm-3" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Search" [resultFormatter]="resultFormatBandListValue"/> -->
<!-- <pre>Model: {{ model | json }}</pre> -->

    <!-- <form class="form-inline  my-lg-0">
      <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search">
    </form> -->